{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Course</th>
    </tr>
    {% for course in courses %}
    <tr>
      <td>{{ course.name }}</td>
      <td>
        <form method="GET" action="{{ url_for('course_info', course_id = course.id) }}">
          <input type="submit" class="btn btn-outline-primary btn-sm" value="Read more" />
        </form>
      </td>
      {% if current_user.urole == "ADMIN" %}
      <td>
        <form method="DELETE" action="{{ url_for('courses_remove', course_id=course.id) }}">
          <input type="submit" value="Delete"/>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}